* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  overflow: hidden;
}

.grid {
  background: #fff;
  border: 2px solid #000;

  width: 174px;
  margin: auto;
  padding: 2px 2px 0 2px;
}

pre {
  margin: 0;
  padding: 0;
}

code {
  line-height: 0;
}


button{
  position: absolute;
}
